@import '~@fortawesome/fontawesome-free/css/fontawesome';
@import '~@fortawesome/fontawesome-free/css/regular';
@import '~@fortawesome/fontawesome-free/css/solid';
@import '~@fortawesome/fontawesome-free/css/brands';

.description{
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.3em;
    }
    h4{
        font-size: 1em;
    }
    h5{
        font-size: 0.8em;
    }
    h6{
        font-size: 0.7em;
    }
}
