/node_modules
/public/hot
/public/css
/public/js
/public/js/*.js
/public/css/*.css
/public/fonts
/public/images
/public/storage
/storage/*.key
/vendor
/resources/assets/images
.env
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
